body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f3f3f3;
    background-image: url(SSN-Highway-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
  }
  
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    width:500px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 50px;
    border-radius: 80px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  
  h1 {
      font-size: 42px;
      text-align: center;
  }
  
  label {
    font-size: 20px;
    margin-bottom: 10px;
    display: block;
  }
  
  input,
  select {
    padding: 10px;
    border-radius: 52px;
    border: 1.5px solid #ccc;
    margin-bottom: 20px;
    border-color: black;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 22px;
  }
  
  input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  option{
    text-align: center;
  }