<web-app>

<servlet>
<servlet-name>View</servlet-name>
<servlet-class>src.View</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>View</servlet-name>
<url-pattern>/View</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>changeToggle</servlet-name>
<servlet-class>src.changeToggle</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>changeToggle</servlet-name>
<url-pattern>/changeToggle</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>pulldetails</servlet-name>
<servlet-class>src.pulldetails</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>pulldetails</servlet-name>
<url-pattern>/pulldetails</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>docPulldetails</servlet-name>
<servlet-class>src.docPulldetails</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>docPulldetails</servlet-name>
<url-pattern>/docPulldetails</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>displayBlob</servlet-name>
<servlet-class>src.displayBlob</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>displayBlob</servlet-name>
<url-pattern>/displayBlob</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>uploadBlob</servlet-name>
<servlet-class>src.uploadBlob</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>uploadBlob</servlet-name>
<url-pattern>/uploadBlob</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>loginverify</servlet-name>
<servlet-class>src.loginverify</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>loginverify</servlet-name>
<url-pattern>/loginverify</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>doc</servlet-name>
<servlet-class>src.doc</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>doc</servlet-name>
<url-pattern>/doc</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>updatedetails</servlet-name>
<servlet-class>src.updatedetails</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>updatedetails</servlet-name>
<url-pattern>/updatedetails</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>getAppt</servlet-name>
<servlet-class>src.getAppt</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>getAppt</servlet-name>
<url-pattern>/getAppt</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>pullPresc</servlet-name>
<servlet-class>src.pullPresc</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>pullPresc</servlet-name>
<url-pattern>/pullPresc</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>addPresc</servlet-name>
<servlet-class>src.addPresc</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>addPresc</servlet-name>
<url-pattern>/addPresc</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>selappt</servlet-name>
<servlet-class>src.selappt</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>selappt</servlet-name>
<url-pattern>/selappt</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>pullappt</servlet-name>
<servlet-class>src.pullappt</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>pullappt</servlet-name>
<url-pattern>/pullappt</url-pattern>
</servlet-mapping>

</web-app>

